figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.contents {
  position: -webkit-sticky;
  position: sticky;
  top: 2vh;
}

article {
  position: relative;
}

p {
  margin: 0;
  padding: 2%;
}

a.footnoteRef::before {
    content: attr(data-tooltip) ;

    font-size: 12px;
    position:absolute;
    z-index: 999;
    margin-left: 10px;
    background:#000;
    color:#e0e0e0;
    padding:0px 7px;
    line-height: 24px;
    max-width: 300px;

    opacity: 0;
    transition:opacity 0.4s ease-out;
    }

a.footnoteRef:hover::before {
    opacity: 1;
    }

.footnotes {
  display: none;
}

.step {
  min-height: 67vh;
  opacity: 1;
}

.link {
  stroke: #999;
  fill: none;
}

.node {
  stroke: darkblue;
  stroke-width: 1.5px;
}

.person {
  fill: #FFE0A7;
  stroke: #FF9A00;
  stroke-width: 2px;
}

#arrow {
  fill: #999;
}

.transparent {
  opacity: .2;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.graph-text {
  cursor: pointer;
  font: 10px sans-serif;
}
#tools div {
  display: inline;
}

form, select {
  float: right;
  display: inline;
}

/* .sectionhead {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */

/* .scrolly {
  width: 100vw;
  margin-left: calc(50% - 50vw);
} */

@media screen and (max-width: 48em) {
  .contents {
    display: none;
  }
}
